#files and directories to be ignored when comitting

Client/bin/*
Client/obj/*
Client/SpaceUnion.v11.suo
Server/bin/*
Server/obj/*
Server/SpaceUnion.v11.suo
SpaceUnionContent/SpaceUnionContentContent/bin/*
SpaceUnionContent/SpaceUnionContent/bin/*
*.cache
*.suo