#files and directories to be ignored when comitting

Client/bin/*
Client/obj/*
Client/*.suo
Server/bin/*
Server/obj/*
Server/*.suo
SpaceUnionContent/SpaceUnionContentContent/bin/*
SpaceUnionContent/SpaceUnionContent/bin/*